/*!
 * header comment should be preserved.
 */
body {
}

form
{
    div {

        p {
            background-color: gold;
        }
        p.alpha {
            color: green;
            font-weight: bold;
        }
    }
}
